<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="website/webapp/static/css/style.css">
    <title>SportLooker</title>
</head>
<body>
    <section class="webdesigntuts-workshop">
        <h1 id="title">Bienvenue sur balance ton sport !</h1>
	    <form action="/website/webapp/views/traitement/" method="POST">
		    <select name="ville">
                % for ville in listeVille:
                <OPTION value="{{ville[0]}}">
                    {{ville[0]}}
                </OPTION>
                % end
            </select>
		    <select name="sport">
                % for sport in listeSport:
                <OPTION value="{{sport[0]}}">
                    {{sport[0]}}
                </OPTION>
                % end
            </select>
		    <button>Rechercher</button>
	    </form>
    </section>


</body>
</html>