<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="website/webapp/static/css/style.css">
    <title>SportLooker</title>
</head>
<body>
    <section class="webdesigntuts-workshop">
        <h1 id="title">Bienvenue sur SportLooker !</h1>
	    <form action="/website/webapp/views/traitement/" method="GET">
		    <input type="search" name="search" placeholder="Que recherchez-vous ?">
		    <button>Rechercher</button>
	    </form>
    </section>
</body>
</html>